<%= render partial: "shared/heading", locals: {title: 'Write an Update' , tagline: 'Share the latest news from your company.' } %>

<div class="max-w-3xl mx-auto">

  <%= form_with model: StakeholderUpdate.new do |form| %>
    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>
  <% end %>

          
</div>
