<div class="py-44">

<%= render partial: "shared/heading", locals: {title: 'Thank your for Applying to Founder Digest' , tagline: 'The next step is give us more information about your Newsletter' } %>

<div class="mx-auto max-w-sm">
<a href="/start">  <button class="w-full rounded-md bg-brand-orange px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-brand-orange-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Click here to name your Newsletter</button>
</a>
</div>

</div>
