<p>Hi <%= @name %>,</p>
<p>We have reviewed your application for Foundr Digest and determined its not a fit at this time.</p>
<p>If you think we have misinitepreted your submission, just reply to this email with further details.</p>
<p>Founder Digest Team</p>
